<!-- <header style="padding:10px; margin-top:70px">
    <div class="container-fluid">
        <div class="row">
      <div class ="col-xl-4 col-lg-4 col-md-3 col-sm-2 ">
          <img src="assets/logo.png" alt="droom logo" height=50px>
        </div>

  <div class="search-container">
    <form action="/action_page.php">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
  
        </div>
      </div>
</header> -->

<body>

<div class="container-fluid">
   <div class="row">
     
              <!-- <div class ="col-lg-offset-8 col-xl-offset-8 col-md-offset-6 col-xl-4 col-lg-4 col-md-6 col-sm-6 "> -->
            <div class="container-fluid">
              <br><br>
              <form>
                <div class="form-row">
                  <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3">
                      <input type="fname" class="form-control" id="inputfname" placeholder="First Name">
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3">
                        <input type="lname" class="form-control" id="inputlname" placeholder="Last Name">
                      </div>
                </div><br>
                <div class="form-row">
                   <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                  </div>
                </div>
              <br>
                <div class="form-row">
                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3">
                    <input type="phoneno" class="form-control" id="inputphoneno" placeholder="Phone No.">
                  </div>
                  <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3">
                      <select id="inputState" class="form-control">
                          <option selected>Select Category</option>
                          <option>Car</option>
                          <option>Bus</option>
                          <option>Taxi</option>
                          <option>Scooter</option>

                        </select>
                    </div>
                </div><br>
                <div class="form-row">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                     <input type="text" class="form-control" id="inputVehicleNo" placeholder="Vehicle Registration No">
                   </div>
                   <!-- <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St"> -->
                 </div>
           <br>
                <button type="submit" class="btn btn-primary col-xl-4 col-lg-4 col-md-6 col-sm-6">Create My Listing</button>
              </form>
              <!-- </div> -->
             
            </div>
              </div>
            </div>
        </body>
<hr>
        <app-footer></app-footer>